<!DOCTYPE html>
<!-- LINK PARA ICONES: https://materializecss.com/icons.html -->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link type="text/css" rel="stylesheet"
              href="../css/materialize.min.css" media="screen,projection" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet" />
        <meta charset="UTF-8" />
        <title>ALUNO</title>       
    </head>
    
    <body class="grey lighten-3">
        <div id="listaDePets">
            <h3 class="main-title center">Lista de Pets</h3>
            <div class="container">
                <table class="striped responsive-table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Nome</th>
                            <th style="text-align: center;">Tipo</th>
                            <th style="text-align: center;">Especie</th>
                            <th style="text-align: center;">Tutor</th>
                            <th style="text-align: center;">Hospedagem</th>
                        </tr>
                    </thead>
                    <tr th:each="pet : ${pets}">
                        <td style="text-align: center;"><span th:text="${pet.nome}"></span></td>
                        <td style="text-align: center;"><span th:text="${pet.tipo}"></span></td>
                        <td style="text-align: center;"><span th:text="${pet.especie}"></span></td>
                        <td style="text-align: center;"><span th:text="${pet.tutor.nome}"></span></td>
                        <td style="text-align: center;"><span th:text="${pet.hospedagemAtual}"></span></td>
                        <td style="text-align: center;">
                            <a th:href="@{'/pets/visualizar/'+${pet.id}}" title="Visualizar">
                                <i class="tiny material-icons ">edit</i>
                            </a>
                            <a th:href="@{'/checks/salvar/'+${pet.id}}" title="Check">
                                <i class="tiny material-icons ">pets</i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div><!-- Fim DIV listar alunos -->
        <script type="text/javascript" src="../js/materialize.min.js"></script>
    </body>
</html>