<html>
    <head>
        <title>INDEX</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- Compiled and minified CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    </head>
    <body class="grey lighten-3">
        <h1 class="main-title center"> Bem vindo ao Hotel Pet!</h1>
        
        <div class="row center">
            
            <h1>Tutores</h1>
            <div class = "col l2"></div>
            <div class="col s12 m4 l4 waves-effect waves-light">
                <a href="/pessoas/cadastrar">
                    <div class="card-panel hoverhable z-depth-1 center grey lighten-4">
                        <i class="large material-icons orange-text">perm_identity</i>
                        <div class="truncate ">CADASTRAR TUTOR</div>
                    </div>
                </a>
            </div>
            
            <div class="col s12 m4 l4 waves-effect waves-light">
                <a href="/pessoas/listar">
                    <div class="card-panel hoverhable z-depth-1 center grey lighten-4">
                        <i class="large material-icons orange-text">list</i>
                        <div class="truncate ">LISTAR TUTORES</div>
                    </div>
                </a>
            </div>
            
        </div>
        
        <div class="row center">
            <h1>Pets</h1>
            <div class = "col l2"></div>
            <div class="col s12 m4 l4 waves-effect waves-light">
                <a href="/pets/cadastrar">
                    <div class="card-panel hoverhable z-depth-1 center grey lighten-4">
                        <i class="large material-icons orange-text">pets</i>
                        <div class="truncate">CADASTRAR PET</div>
                    </div>
                </a>
            </div>
            
            <div class="col s12 m4 l4 waves-effect waves-light">
                <a href="/pets/listar">
                    <div class="card-panel hoverhable z-depth-1 center grey lighten-4">
                        <i class="large material-icons orange-text">list</i>
                        <div class="truncate">LISTAR PETS</div>
                    </div>
                </a>
            </div>
            
        </div>
        
        <div class="row center">
             <h1>CHECK IN/OUTS</h1>
             <div class = "col l4"></div>
            <div class="col s12 m4 l4 waves-effect waves-light">
                <a href="/checks/listar">
                    <div class="card-panel hoverhable z-depth-1 center grey lighten-4">
                        <i class="large material-icons orange-text">hotel</i>
                        <div class="truncate">LISTAR</div>
                    </div>
                </a>
            </div>
        </div>

        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>